<div [ngSwitch]="condition">
    <img *ngSwitchCase="weatherEnum.CLEAR"   src="https://www.angulartraining.com/images/weather/sun.png">
    <img *ngSwitchCase="weatherEnum.RAIN"   src="https://www.angulartraining.com/images/weather/rain.png">
    <img  *ngSwitchCase="weatherEnum.SNOW"  src="https://www.angulartraining.com/images/weather/snow.png">
    <img *ngSwitchCase="weatherEnum.CLOUDS"   src="https://www.angulartraining.com/images/weather/clouds.png">
    <img *ngSwitchDefault  src="https://img.icons8.com/pastel-glyph/2x/file-not-found--v2.png">
</div> 