<h4>Template for 5-day forecast page:</h4>
<div class="container-fluid">
  <div class="panel panel-default">
    <div *ngIf="weathers && weathers.length>0" class="panel-heading">
      <h3 class="panel-title">5-day forecast for {{weathers[0]?.city}} </h3>

    </div>
    <ul class="list-group">
     <app-day-weather-item *ngFor="let weather of weathers" [weather]="weather"></app-day-weather-item>
    </ul>
  </div>
  <button class="btn btn-success" (click)="onClickBack()" tabindex="0" id="mainPageBtn">&lt; Back to main page</button>
</div>