<div class="well">
    <h2>Enter a zipcode:</h2>
    <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
      <input formControlName="zipCode" class="form-control" placeholder="Please enter your US-Zip-code" type="text" id="zipCode">
      <div *ngIf="form.get('zipCode').dirty && form.get('zipCode').errors?.pattern">
        Zip code not valid.
    </div>
    <div *ngIf="form.get('zipCode').dirty && form.get('zipCode').errors?.required">
    Zip code not valid.
    </div>  
    <div *ngIf="zipCodes.includes(form.value.zipCode)">
      zip code already exist !
      </div>   
    <button [disabled]="!form.valid || zipCodes.includes(form.value.zipCode)" class="btn btn-primary" id="addLocationBtn" type="submit">
      Add location
    </button> 
  </form>
  </div>

